blinker==1.4
cabby==0.1.23
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
colorlog==6.6.0
Flask==2.0.2
furl==2.1.3
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
libtaxii==1.1.119
lxml==4.7.1
MarkupSafe==2.0.1
opentaxii==0.2.3
orderedmultidict==1.0.1
PyJWT==2.3.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.29
structlog==21.5.0
urllib3==1.26.8
Werkzeug==2.0.2
